
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <h1>Welcome to the hotel</h1>
            <p>Just off Interstate 95, within driving distance of downtown Boston and the seaport town of Salem, this hotel in Peabody, Massachusetts offers free internet access and an indoor pool. Holiday Inn & Suites Boston Peabody features a well-equipped fitness center and a relaxing outdoor courtyard. Guests can get some work done in the 24-hour business center, then enjoy Italian cuisine in the adjacent Carrabbas Italian Grill. Within driving distance of the Peabody Holiday Inn, guests can explore the Salem Witch Museum or the House of Seven Gables historical site. The Centennial Industrial Park is only 2 miles (3 km) away. We speak your language! Hotel Rooms: 182, Hotel Chain: Holiday Inn Hotels & Resorts..</p>
            <hr>
            <h3></h3>
            <p></p>
        </div>
        <div class="col-sm-2 sidenav">
    
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p></p>
</footer>